* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-align: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}


@import 'https://fonts.googleapis.com/css?family=Lato:100';

body {
	background: #222;
	font-family: 'Lato', sans-serif;
}


.container {
	position: relative;
	display: block;
	max-width: 1300px;
	height: 600px;
	overflow: hidden;
	margin: 20px auto;
	perspective: 100px;
	-webkit-perspective: 100px;
	z-index: 1;
}

.panning-overlay {
	display:block;
	position: absolute;
	top:0;
	left: 0;
	height: 600px;
	width: 1300px;
	background-color: rgba(50,61,84,0.2);
	box-shadow: inset 0 0 100px 0 rgba(50,61,84,0.7);
	z-index: 2;
}

.panning-bg {
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/165141/2624.jpeg') no-repeat 0 0;
	background-size: 100%;
	display: block;
	height: 2624px;
	width: 3936px;
	animation: pan 60s infinite;
}

@keyframes pan {
	0% {
		transform: translate3d(-1300px, -1200px, 0) ;
	}
	
	50% {
		transform: translate3d(-900px, -800px, 50px);
	}
	
	100% {
		transform: translate3d(-1300px, -1200px, 0) ;
	}
	
}

.mark {
	font-size: 10px;
	color: rgba( 0, 0, 0, 0.5);
	position: absolute;
    display: inline;
}

.mark-2 {
	top: 15%;
	right: 17%;
}

#mark-2-img{
    border-radius: 50%;
}

.mark-3 {
	top: 17%;
	left: 5%;
    font-size: 15px;
}

.educations{
    font-size: 18px;
}

#education{
	color:rgb(68, 41, 41);
}

#TRbiography{
	color:rgb(68, 41, 41);
}

#ENGbiography{
	color:rgb(68, 41, 41);
}

.mark-4 {
	bottom: 0%;
	left: 0%;
    font-size: 25px;
    float:inline-start;
    width: 1400px;
    height: 7%;
    background-color: rgb(87, 82, 82);
    opacity: 50%;
}

.footer-social{
	margin-top: 10px;
    margin-left: -140px;
}

.mark-4 ul li{
    display: inline;
    color:azure !important;
    margin: 75px;
}

.mark-4 ul li a i{
    color: rgb(0, 0, 0);
}

.mark-5{
    top: 90%;
    right: 50%;
}
